.app-style{
   color : rgb(173, 173, 173);
   background-color: rgb(6, 49, 54);
   font-size: 10px;
   font-weight: bold;
   height: 15px;
}

section.resume-section {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      max-width: 75rem;
}


